In [3]:
import pickle
from sklearn.cluster import *

In [4]:
df = pickle.load(open("music_backup.p", "rb"))

In [5]:
%mkdir models

mkdir: cannot create directory ‘models’: File exists

## K Means

In [6]:
kmeans = KMeans(n_clusters=8, max_iter=10000, algorithm = 'auto')

In [7]:
kmeans.fit(df.iloc[:,3:])

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=10000,
       n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [8]:
kmeans.predict(df.iloc[:,3:])

array([7, 4, 7, ..., 6, 6, 7], dtype=int32)

In [9]:
names = df.iloc[:,:2]

In [10]:
names.insert(2, "kmean_prediction", kmeans.predict(df.iloc[:,3:]), True)

In [11]:
pickle.dump(kmeans, open("models/kmeans.p", "wb"))

# Mean Shift

In [12]:
mean_shift = MeanShift(bandwidth=1000).fit(df.iloc[:,3:])

In [13]:
mean_shift.labels_

array([9, 9, 1, ..., 0, 0, 9])

In [14]:
names.insert(2, "mean_shift_prediction", mean_shift.labels_, True)

In [15]:
pickle.dump(mean_shift, open("models/mean_shift.p", "wb"))

# Save Modelled Data

In [19]:
names

,index,source,mean_shift_prediction,kmean_prediction
0,0,/home/echo/Music/The Killers/The Killers/02 Mr...,9,7
1,0,/home/echo/Music/The Killers/Hot Fuss/02 Mr. B...,9,4
2,0,/home/echo/Music/The Killers/Hot Fuss/04 Someb...,1,7
3,0,/home/echo/Music/The Killers/Day & Age/08 Neon...,0,6
4,0,/home/echo/Music/The Killers/Day & Age/09 The ...,1,7
...,...,...,...,...
1671,0,/home/echo/Music/Alter Bridge/Blackbird/06 Bef...,1,7
1672,0,/home/echo/Music/Alter Bridge/Blackbird/10 Wat...,0,6
1673,0,/home/echo/Music/Alter Bridge/One Day Remains/...,0,6
1674,0,/home/echo/Music/Alter Bridge/One Day Remains/...,0,6
1675,0,/home/echo/Music/Alter Bridge/One Day Remains/...,9,7

In [18]:
names = names.reset_index(drop = True)

In [20]:
names.to_csv("modelling_results.csv")